<%= form_with model: note do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content %>
    <%= f.rich_text_area :content %>
  </div>

  <!-- Because we use user.notes.builds in the note controller 
       the following 3 lines of codes are no more needed.
    <div>
      <%= f.hidden_field :user_id, value: current_user.id %>
    </div>
  -->

  <div>
    <%= f.submit %>
  </div>
<% end %>